.checkout-product {
  display: flex;
  margin: 20px 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.checkout-product__info {
  padding-left: 20px;
}

.checkout-product__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkout-product__rating {
  display: flex;
}

.checkout-product__title {
  font-size: 17px;
  font-weight: 800;
}

@media (hover: hover) {
  .checkout-product:hover {
    box-shadow: 0 0 7px rgba(53, 53, 93, 0.28);
  }
}
